<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
</head>

<body>
    <div class="title">
        <h1>Single page application</h1>
    </div>
    <div class="body-of-element">
        <div class="div-forms">
            <form class="form-create" method="POST" action="/createperson">
                <fieldset>
                    <legend>Person</legend>
                    <div class="">
                        <label class="" for="">Name</label>
                        <div class="">
                            <input id="firstname" name="firstname" type="text" placeholder="" class="">
                        </div>
                        <label class="" for="">Last Name</label>
                        <div class="">
                            <input id="lastname" name="lastname" type="text" placeholder="" class="">
                        </div>
                        <label class="" for="">Address</label>
                        <div class="">
                            <input id="address" name="address" type="text" placeholder="" class="">
                        </div>
                        <div class="">
                            <input type="reset" id='reset' name="b2" value="Reset">
                            <input type="submit" id="submit" name="b1" value="Save">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="list-person">
            <fieldset>
                <legend>List Person</legend>

                <div class="">
                    <div class="">
                        <table class="">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Adrees
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
     crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</body>

</html>